@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:ital,wght@0,700;0,900;1,900&display=swap');


:root{

//================ Colors============//

//Primary
--color-soft-red: hsl(7, 99%, 70%);
--color-yellow: hsl(51, 100%, 49%);
--color-dark-desaturated-cyan: hsl(167, 40%, 24%);
--color-dark-blue: hsl(198, 62%, 26%);
--color-dark-moderate-cyan: hsl(168, 34%, 41%);

//Neutral

--color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
--color-very-dark-grayish-blue: hsl(213, 9%, 39%);
--color-dark-grayish-blue: hsl(232, 10%, 55%);
--color-grayish-blue: hsl(210, 4%, 67%);
--color-white: hsl(0, 0%, 100%);

}



*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}



html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;  
    font-size: 1.8rem;
    line-height: 1.6;
   
}