@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
:root {
  --color-very-dark-desaturated-blue1: hsl(222, 26%, 31%);
  --color-very-dark-desaturated-blue2: hsl(223, 31%, 20%);
  --color-very-dark-desaturated-blue3: hsl(224, 36%, 15%);
  --color-desaturated-dark-blue1: hsl(225, 21%, 49%);
  --color-desaturated-dark-blue2: hsl(224, 28%, 35%);
  --color-red: hsl(6, 63%, 50%);
  --color-dark-red: hsl(6, 70%, 34%);
  --color-light-grayish-orange: hsl(30, 25%, 89%);
  --color-grayish-orange: hsl(28, 16%, 65%);
  --color-very-dark-grayish-blue: hsl(221, 14%, 31%);
  --color-white: hsl(0, 0, 100%);
  --color-light-gray: hsl(0, 0%, 90%);
  --color-grayish-red: hsl(0, 5%, 81%);
  --color-very-light-gray: hsl(0, 0%, 93%);
  --color-dark-moderate-cyan: hsl(185, 42%, 37%);
  --color-very-dark-cyan: hsl(185, 58%, 25%);
  --color-orange: hsl(25, 98%, 40%);
  --color-dark-orange: hsl(25, 99%, 27%);
  --color-light-grayish-yellow: hsl(45, 7%, 89%);
  --color-dark-grayish-orange: hsl(35, 11%, 61%);
  --color-very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --color-very-dark-violet1: hsl(268, 75%, 9%);
  --color-very-dark-violet2: hsl(268, 71%, 12%);
  --color-dark-violet: hsl(281, 89%, 26%);
  --color-vivid-magenta: hsl(285, 91%, 52%);
  --color-pure-cyan: hsl(176, 100%, 44%);
  --color-soft-cyan: hsl(177, 92%, 70%);
  --color-very-dark-violet: hsl(268, 47%, 21%);
  --color-dark-magenta: hsl(290, 70%, 36%);
  --color-light-yellow: hsl(52, 100%, 62%);
  --color-very-dark-blue: hsl(198, 20%, 13%);
  --color-white: hsl(0, 0, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 3.2rem;
  line-height: 1.6;
  background-color: var(--color-very-dark-desaturated-blue1);
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 3.5rem;
}

.attribution a {
  color: wheat;
  padding-left: 2px;
}

.container {
  width: 32.6rem;
  margin: 2.5rem auto;
}

@media only screen and (max-width: 20em) {
  .container {
    width: 30rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .container {
    width: 45rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .container {
    width: 48rem;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  padding: 3.3rem 0 0;
}

.heading--left {
  font-size: 3.5rem;
}

.heading--right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
}

@media only screen and (max-width: 20em) {
  .heading--right {
    font-size: 1rem;
  }
}

.heading--right .toggle-num {
  position: absolute;
  top: -2.3rem;
  left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading--right .toggle-num > * {
  margin-left: 2rem;
  cursor: pointer;
}

.heading--right .toggle-box {
  width: 7.6rem;
  height: 2.5rem;
  border-radius: 10rem;
  background-color: var(--color-very-dark-desaturated-blue2);
  margin-left: 2.2rem;
  display: flex;
  align-items: center;
}

.heading--right .toggle-box span {
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--color-red);
  border-radius: 50%;
  margin-left: .4rem;
}

.main {
  display: grid;
  grid-template-rows: 8.8rem 42rem;
  justify-content: center;
  padding: 2rem;
  row-gap: 2.5rem;
}

@media only screen and (max-width: 56.25em) {
  .main {
    grid-template-rows: minmax(8.8rem, 13.5rem) 42rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .main {
    grid-template-columns: 45rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .main {
    grid-template-columns: 48rem;
  }
}

.screen {
  border-radius: 1rem;
  background-color: var(--color-very-dark-desaturated-blue3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2.6rem;
  word-break: break-all;
}

.screen .prev-op {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.75);
}

.screen .curr-op {
  font-size: 3.2rem;
  color: white;
}

.keys-container {
  background-color: var(--color-very-dark-desaturated-blue2);
  border-radius: 1rem;
  padding: 2.3rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(5, 6rem);
  gap: 1.5rem;
}

@media only screen and (min-width: 56.25em) {
  .keys-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .keys-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2.5rem;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 3rem;
  background-color: var(--color-light-grayish-orange);
  box-shadow: 0 0.4rem 0.2rem var(--color-grayish-orange);
  outline: none;
  border: none;
  border-radius: 8px;
  color: var(--color-very-dark-grayish-blue);
}

.btn:link {
  transform: translateY(-0.4rem);
}

.btn:active {
  transform: translateY(0.4rem);
}

.btn--colored {
  color: white;
  font-size: 1.75rem;
  text-transform: uppercase;
  background-color: var(--color-desaturated-dark-blue1);
  box-shadow: 0 0.4rem 0.2rem var(--color-desaturated-dark-blue2);
}

.btn--reset {
  grid-column: 1/span 2;
}

.btn--eq {
  color: white;
  grid-column: 3/-1;
  background-color: var(--color-red);
  box-shadow: 0 0.4rem 0.2rem var(--color-dark-red);
}

body.theme-1 {
  background-color: var(--color-very-dark-desaturated-blue1);
}

body.theme-1 .heading {
  color: white;
}

body.theme-1 .heading .toggle-box {
  background-color: var(--color-very-dark-desaturated-blue2);
  transition: all 1s ease-in-out;
}

body.theme-1 .heading .toggle-box span {
  transform: translateX(-0.2rem);
}

body.theme-1 .screen {
  background-color: var(--color-very-dark-desaturated-blue3);
}

body.theme-1 .screen .prev-op {
  color: rgba(255, 255, 255, 0.75);
}

body.theme-1 .screen .curr-op {
  color: white;
}

body.theme-1 .keys-container {
  background-color: var(--color-very-dark-desaturated-blue2);
}

body.theme-1 .btn {
  background-color: var(--color-light-grayish-orange);
  box-shadow: 0 0.4rem 0.2rem var(--color-grayish-orange);
}

body.theme-1 .btn--eq {
  background-color: var(--color-red);
  box-shadow: 0 0.4rem 0.2rem var(--color-dark-red);
  color: white;
}

body.theme-1 .btn--colored {
  background-color: var(--color-desaturated-dark-blue1);
  box-shadow: 0 0.4rem 0.2rem var(--color-desaturated-dark-blue2);
}

body.theme-1 .attribution {
  color: var(--color-very-dark-blue);
}

body.theme-1 .attribution a {
  color: gray;
}

body.theme-2 {
  background-color: var(--color-light-gray);
}

body.theme-2 .heading {
  color: var(--color-very-dark-grayish-yellow);
}

body.theme-2 .heading .toggle-box {
  background-color: var(--color-grayish-red);
  transition: all 1s ease-in-out;
}

body.theme-2 .heading .toggle-box span {
  transform: translateX(2.5rem);
}

body.theme-2 .screen {
  background-color: var(--color-very-light-gray);
}

body.theme-2 .screen .prev-op {
  color: rgba(0, 0, 0, 0.65);
}

body.theme-2 .screen .curr-op {
  color: var(--color-very-dark-grayish-yellow);
}

body.theme-2 .keys-container {
  background-color: var(--color-grayish-red);
}

body.theme-2 .btn {
  background-color: var(--color-light-grayish-yellow);
}

body.theme-2 .btn--colored {
  background-color: var(--color-dark-moderate-cyan);
  box-shadow: 0 0.4rem 0.2rem var(--color-very-dark-cyan);
}

body.theme-2 .btn--eq {
  background-color: var(--color-orange);
  box-shadow: 0 0.4rem 0.2rem var(--color-dark-orange);
}

body.theme-2 .attribution a {
  color: var(--color-very-dark-blue);
}

body.theme-3 {
  background-color: var(--color-very-dark-violet1);
}

body.theme-3 .heading {
  color: var(--color-light-yellow);
}

body.theme-3 .heading .toggle-box {
  background-color: var(--color-very-dark-violet2);
  position: relative;
}

body.theme-3 .heading .toggle-box span {
  background-color: var(--color-pure-cyan);
  position: absolute;
  right: 3rem;
}

body.theme-3 .screen {
  background-color: var(--color-very-dark-violet2);
}

body.theme-3 .screen .prev-op {
  color: rgba(255, 255, 0, 0.65);
}

body.theme-3 .screen .curr-op {
  color: var(--color-light-yellow);
}

body.theme-3 .keys-container {
  background-color: var(--color-very-dark-violet2);
}

body.theme-3 .btn {
  background-color: var(--color-very-dark-violet);
  box-shadow: 0 0.4rem 0.2rem var(--color-dark-magenta);
  color: var(--color-light-yellow);
}

body.theme-3 .btn--colored {
  background-color: var(--color-dark-violet);
  box-shadow: 0 0.4rem 0.2rem var(--color-vivid-magenta);
  color: white;
}

body.theme-3 .btn--eq {
  background-color: var(--color-pure-cyan);
  box-shadow: 0 0.4rem 0.2rem var(--color-soft-cyan);
  color: white;
}

body.theme-3 .attribution {
  color: white;
}

body.theme-3 .attribution a {
  color: var(--color-light-yellow);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-light-gray);
  }
  body .heading {
    color: var(--color-very-dark-grayish-yellow);
  }
  body .heading .toggle-box {
    background-color: var(--color-grayish-red);
    transition: all 1s ease-in-out;
  }
  body .heading .toggle-box span {
    transform: translateX(2.5rem);
  }
  body .screen {
    background-color: var(--color-very-light-gray);
  }
  body .screen .prev-op {
    color: rgba(0, 0, 0, 0.65);
  }
  body .screen .curr-op {
    color: var(--color-very-dark-grayish-yellow);
  }
  body .keys-container {
    background-color: var(--color-grayish-red);
  }
  body .btn {
    background-color: var(--color-light-grayish-yellow);
  }
  body .btn--colored {
    background-color: var(--color-dark-moderate-cyan);
    box-shadow: 0 0.4rem 0.2rem var(--color-very-dark-cyan);
  }
  body .btn--eq {
    background-color: var(--color-orange);
    box-shadow: 0 0.4rem 0.2rem var(--color-dark-orange);
  }
  body .attribution a {
    color: var(--color-very-dark-blue);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-very-dark-violet1);
  }
  body .heading {
    color: var(--color-light-yellow);
  }
  body .heading .toggle-box {
    background-color: var(--color-very-dark-violet2);
    position: relative;
  }
  body .heading .toggle-box span {
    background-color: var(--color-pure-cyan);
    position: absolute;
    right: 3rem;
  }
  body .screen {
    background-color: var(--color-very-dark-violet2);
  }
  body .screen .prev-op {
    color: rgba(255, 255, 0, 0.65);
  }
  body .screen .curr-op {
    color: var(--color-light-yellow);
  }
  body .keys-container {
    background-color: var(--color-very-dark-violet2);
  }
  body .btn {
    background-color: var(--color-very-dark-violet);
    box-shadow: 0 0.4rem 0.2rem var(--color-dark-magenta);
    color: var(--color-light-yellow);
  }
  body .btn--colored {
    background-color: var(--color-dark-violet);
    box-shadow: 0 0.4rem 0.2rem var(--color-vivid-magenta);
    color: white;
  }
  body .btn--eq {
    background-color: var(--color-pure-cyan);
    box-shadow: 0 0.4rem 0.2rem var(--color-soft-cyan);
    color: white;
  }
  body .attribution {
    color: white;
  }
  body .attribution a {
    color: var(--color-light-yellow);
  }
}
