@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
:root {
  --color-very-dark-desaturated-blue1: hsl(222, 26%, 31%);
  --color-very-dark-desaturated-blue2: hsl(223, 31%, 20%);
  --color-very-dark-desaturated-blue3: hsl(224, 36%, 15%);
  --color-desaturated-dark-blue1: hsl(225, 21%, 49%);
  --color-desaturated-dark-blue2: hsl(224, 28%, 35%);
  --color-red: hsl(6, 63%, 50%);
  --color-dark-red: hsl(6, 70%, 34%);
  --color-light-grayish-orange: hsl(30, 25%, 89%);
  --color-grayish-orange: hsl(28, 16%, 65%);
  --color-very-dark-grayish-blue: hsl(221, 14%, 31%);
  --color-white: hsl(0, 0, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 3.2rem;
  line-height: 1.6;
  background-color: var(--color-very-dark-desaturated-blue1);
}

.container {
  max-width: 48rem;
  width: 32.6rem;
  margin: 3rem auto;
}

@media only screen and (max-width: 20em) {
  .container {
    width: 30rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .container {
    width: 45rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .container {
    width: 100%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  padding: 3.3rem  0 0;
}

.heading--left {
  font-size: 3.5rem;
}

.heading--right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 20em) {
  .heading--right {
    font-size: 1rem;
  }
}

.heading--right .toggle {
  width: 7.6rem;
  height: 2.5rem;
  border-radius: 10rem;
  background-color: var(--color-very-dark-desaturated-blue2);
  margin-left: 2.2rem;
  display: flex;
  align-items: center;
}

.heading--right .toggle span:nth-child(1) {
  display: block;
  position: absolute;
  top: 6rem;
  letter-spacing: .7rem;
  margin-left: .8rem;
}

.heading--right .toggle span:last-child {
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--color-red);
  border-radius: 50%;
  margin-left: .4rem;
}

.main {
  display: grid;
  grid-template-rows: minmax(8.8rem, 1fr) 42rem;
  justify-content: center;
  padding: 2rem;
  row-gap: 2.5rem;
}

@media only screen and (min-width: 56.25em) {
  .main {
    grid-template-columns: 45rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .main {
    grid-template-columns: 48rem;
  }
}

.screen {
  border-radius: 1rem;
  background-color: var(--color-very-dark-desaturated-blue3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2.6rem;
  word-wrap: break-word;
  word-break: break-all;
}

.screen .prev-op {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.3rem;
}

.screen .curr-op {
  color: white;
  font-size: 3.3rem;
}

.keys-container {
  background-color: var(--color-very-dark-desaturated-blue2);
  border-radius: 1rem;
  padding: 2.3rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(5, 6rem);
  gap: 1.5rem;
}

@media only screen and (min-width: 56.25em) {
  .keys-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .keys-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2.5rem;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 3rem;
  background-color: var(--color-light-grayish-orange);
  box-shadow: 0 0.4rem 0.2rem var(--color-grayish-orange);
  outline: none;
  border: none;
  border-radius: 8px;
  color: var(--color-very-dark-grayish-blue);
}

.btn:link {
  transform: translateY(-0.4rem);
}

.btn:active {
  transform: translateY(0.4rem);
}

.btn--colored {
  color: white;
  font-size: 1.75rem;
}

.btn--eq {
  grid-column: 3/-1;
  background-color: var(--color-red);
  box-shadow: 0 0.4rem 0.2rem var(--color-dark-red);
}

.btn--reset {
  grid-column: 1/span 2;
  text-transform: uppercase;
  background-color: var(--color-desaturated-dark-blue1);
  box-shadow: 0 0.4rem 0.2rem var(--color-desaturated-dark-blue2);
}

.btn--del {
  text-transform: uppercase;
  background-color: var(--color-desaturated-dark-blue1);
  box-shadow: 0 0.4rem 0.2rem var(--color-desaturated-dark-blue2);
}
