@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (min-width: 37.5em) {
  html {
    font-size: 67.5%;
  }
}

@media only screen and (max-width: 23.375em) {
  html {
    font-size: 50%;
    overflow: hidden;
    padding: 0;
  }
}

body {
  font-family: 'Inter','Lexend Deca', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .8px;
  color: white;
}

.container {
  background-color: #090b1a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: violet;
  margin-top: 5rem;
}

.attribution a {
  color: #9195a6;
}

.preview-card {
  background-color: #1b1938;
  border-radius: 8px;
  overflow: hidden;
}

@media only screen and (min-width: 50em) {
  .preview-card {
    width: 54rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 68.75em) {
  .preview-card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 113rem;
    margin: 0 auto;
  }
}

.preview-card__photo {
  position: relative;
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  height: 28rem;
  width: 100%;
}

@media only screen and (min-width: 50em) {
  .preview-card__photo {
    background-image: url(../images/image-header-desktop.jpg);
    height: 44rem;
  }
}

.preview-card__photo::after {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  inset: 0;
  background-color: #aa5cdb;
  mix-blend-mode: multiply;
}

.preview-card__content {
  text-align: center;
  margin: 4.7rem;
  width: 26.4rem;
}

@media only screen and (min-width: 50em) {
  .preview-card__content {
    width: 100%;
    margin: 3.7rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .preview-card__content {
    text-align: left;
  }
}

.preview-card__heading-primary {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.preview-card__heading-primary span {
  color: #aa5cdb;
}

.preview-card__paragraph {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75);
}

.preview-card__paragraph span {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

@media only screen and (min-width: 50em) {
  .preview-card__paragraph {
    font-size: 1.7rem;
    line-height: 1.7;
  }
}

.preview-card__stats-box {
  margin: 4.8rem auto;
}

@media only screen and (min-width: 50em) {
  .preview-card__stats-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 68.75em) {
  .preview-card__stats-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}

.preview-card__stat:not(:last-child) {
  margin-bottom: 3.4rem;
}

@media only screen and (min-width: 50em) {
  .preview-card__stat {
    align-self: stretch;
  }
}
