@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Inter','Lexend Deca', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .8px;
  color: white;
}

.container {
  background-color: #090b1a;
  max-width: 144rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: violet;
  padding: 1.5rem;
}

.attribution a {
  color: #9195a6;
}

.preview-card {
  background-color: #1b1938;
  border-radius: 8px;
  overflow: hidden;
}

.preview-card__photo {
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  height: 28rem;
  width: 100%;
  position: relative;
}

.preview-card__photo::after {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  inset: 0;
  background-color: #aa5cdb;
  mix-blend-mode: multiply;
}

.preview-card__content {
  text-align: center;
  margin: 4.7rem;
  width: 26.4rem;
}

.preview-card__heading-primary {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.preview-card__heading-primary span {
  color: #aa5cdb;
}

.preview-card__paragraph {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75);
}

.preview-card__paragraph span {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.preview-card__stats-box {
  margin: 4.8rem auto;
}

.preview-card__stat:not(:last-child) {
  margin-bottom: 3.4rem;
}
