.preview-card{
    background-color:$dark-blue-secondary;
    border-radius: 8px;
    width: 100%;
    margin: 5rem auto;
    overflow: hidden;

    


    @include break-point-up("medium"){
        width: 54rem;
        display: flex;
        flex-direction: column;
        margin : 8rem auto 2rem;
    }

    @include break-point-up("large"){
        display: flex;
        flex-direction: row-reverse;
        max-width: 110rem;
        max-height: 44rem;
        width: 100%;
        margin: 12rem auto 6rem auto;


    }

    


   &__photo{

        position: relative;
        background-image: url(../images/image-header-mobile.jpg);
        background-size: cover;
        height: 24rem;
        width: 100%;
        margin-bottom: 4.7rem;

        
        @include break-point-up("medium"){
            background-image: url(../images/image-header-desktop.jpg);
            height: 44rem;
            max-height: 44.6rem;
            max-width: 54rem;
            
        }


        &::after{
            content: "";
            height: inherit;
            width: inherit;
            position: absolute;
            inset: 0;
            background-color: $violet-accent;
            mix-blend-mode: multiply;
            opacity: 90%;

        }

        
   }

   &__content{
        text-align: center;
        margin: auto;


       
    @include break-point-up("medium"){
        margin: 0 auto;
        width: 40rem;
    }


    @include break-point-up("large"){
        text-align: left;
        padding-top: 6rem ;
        

    }

    }

   &__heading-primary{
         margin-bottom: 2rem;


    span{
            color: $violet-accent;
        }
   }




   &__paragraph{
       font-weight: 300;
       line-height: 1.8;
       color: $color-white-2;
       width: 28rem;
       margin: 0 auto;

       span{
            color: $color-white-3;
            text-transform: uppercase;
       }

       @include break-point-up("medium"){
            line-height: 1.7;
            width: 100%;

       }

    }
  
   &__stats-box{
       margin: 4.8rem auto;


       @include break-point-up("medium"){
           display: flex;
           justify-content: space-between;
           margin-top: 8.4rem;
       }

       @include break-point-up("large"){margin-right: 3rem;}
   }

   &__stat{
   
        &:not(:last-child){
            margin-bottom:3.4rem ;
            }

     @include break-point-up("medium"){
         align-self: stretch;
     }

    
    }
}

