////////////////
//COLORS

// primary

$dark-blue-primary: hsl(233, 47%, 7%);
$dark-blue-secondary:hsl(244, 38%, 16%);

$violet-accent:  hsl(277, 64%, 61%);


// Neutral

$color-white-1:  hsl(0, 0%, 100%);
$color-white-2: hsla(0, 0%, 100%, 0.75);
$color-white-3:  hsla(0, 0%, 100%, 0.6);


