//theme-1
@mixin theme-1-styles {
  background-color: var(--color-very-dark-desaturated-blue1);

  .heading {
    color: white;

    .toggle-box {
      background-color: var(--color-very-dark-desaturated-blue2);
      transition: all 1s ease-in-out;

      span {
        transform: translateX(-0.2rem);
      }
    }
  }

  .screen {
    background-color: var(--color-very-dark-desaturated-blue3);

    .prev-op {
      color: rgba(white, 0.75);
    }

    .curr-op {
      color: white;
    }
  }

  .keys-container {
    background-color: var(--color-very-dark-desaturated-blue2);
  }

  .btn {
    background-color: var(--color-light-grayish-orange);
    box-shadow: 0 0.4rem 0.2rem var(--color-grayish-orange);

    &--eq {
      background-color: var(--color-red);
      box-shadow: 0 0.4rem 0.2rem var(--color-dark-red);
      color: white;
    }

    &--colored {
      background-color: var(--color-desaturated-dark-blue1);
      box-shadow: 0 0.4rem 0.2rem var(--color-desaturated-dark-blue2);
    }
  }

   .attribution{
    color: var(--color-very-dark-blue);
  }
    .attribution a {
      color: gray;
    }
}



//theme-2
@mixin theme-2-styles {
  background-color: var(--color-light-gray);

  .heading {
    color: var(--color-very-dark-grayish-yellow);

    .toggle-box {
      background-color: var(--color-grayish-red);
      transition: all 1s ease-in-out;

      span {
        transform: translateX(2.5rem);
      }
    }
  }

  .screen {
    background-color: var(--color-very-light-gray);

    .prev-op {
      color: rgba(black, 0.65);
    }

    .curr-op {
      color: var(--color-very-dark-grayish-yellow);
    }
  }

  .keys-container {
    background-color: var(--color-grayish-red);
  }

  .btn {
    background-color: var(--color-light-grayish-yellow);

    &--colored {
      background-color: var(--color-dark-moderate-cyan);
      box-shadow: 0 0.4rem 0.2rem var(--color-very-dark-cyan);
    }

    &--eq {
      background-color: var(--color-orange);
      box-shadow: 0 0.4rem 0.2rem var(--color-dark-orange);
    }
  }

  .attribution a {
    color: var(--color-very-dark-blue);
  }
}

//theme-3
@mixin theme-3-styles {
  background-color: var(--color-very-dark-violet1);

  .heading {
    color: var(--color-light-yellow);

    .toggle-box {
      background-color: var(--color-very-dark-violet2);
      position: relative;

      span{
        background-color: var(--color-pure-cyan);
        position: absolute;
        right: 3rem;

        //   transform: translateX(1rem);

        //   transition: all 1s ease-in-out;
      }
    }
  }

  .screen {
    background-color: var(--color-very-dark-violet2);

    .prev-op {
      color: rgba(yellow, 0.65);
    }

    .curr-op {
      color: var(--color-light-yellow);
    }
  }

  .keys-container {
    background-color: var(--color-very-dark-violet2);
  }

  .btn {
    background-color: var(--color-very-dark-violet);
    box-shadow: 0 0.4rem 0.2rem var(--color-dark-magenta);
    color: var(--color-light-yellow);

    &--colored {
      background-color: var(--color-dark-violet);
      box-shadow: 0 0.4rem 0.2rem var(--color-vivid-magenta);
      color: white;
    }

    &--eq {
      background-color: var(--color-pure-cyan);
      box-shadow: 0 0.4rem 0.2rem var(--color-soft-cyan);
      color: white;
    }
  }

  .attribution {
    color: white;
  }
  .attribution a {
    color: var(--color-light-yellow);
  }
}
